<app-navbar></app-navbar>    
       <div class="container">
            <div class="card">
              <div class="card__header" routerLink="/createcb">
                <img src="/../assets/image/As1.jpeg" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-blue">Policy Adminstration System</span>
                <h4>Create Consumer's Business</h4>
                <p>Here You Can Create a Consumer's and Business Profiles</p>
              </div>
              <div class="card__footer">
               
              </div>
            </div>
            <div class="card">
              <div class="card__header" routerLink="/consumer">
                <img src="/../assets/image/As2.jpeg" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-brown">Policy Adminstration System</span>
                <h4>View Consumer's Business</h4>
                <p>Here You Can View the Consumer Business</p>
              </div>
              <div class="card__footer">
                
              </div>
            </div>
            <div class="card">
              <div class="card__header" routerLink="/quotes">
                <img src="/../assets/image/As3.jpeg" alt="card__image" class="card__image" width="600">
              </div>
              <div class="card__body">
                <span class="tag tag-red">Policy Adminstration System</span>
                <h4>Issuse Policy</h4>
                <p>Here You Can Issuse Policy</p>
              </div>
              <div class="card__footer">
                
              </div>
            </div>
          </div>
<router-outlet></router-outlet> 